:root {
    --primary-header-color: white;
    --background-color: black;

    --hover-color: rgb(255, 255, 255);
    --link-color: rgb(146, 146, 153);
    --visited-color: var(--link-color);
    --icon-color: var();
    --background-color-gradient-top: rgb(10, 10, 10);
    --background-color-gradient-bottom: rgb(0, 0, 0);
    --grid-dot-color-top: rgba(71, 71, 71, 0.3) 1px;
    --grid-dot-color-bottom: rgba(36, 36, 36, 0) 1px;
    --standard-text-color: rgb(83, 68, 68);
    --standard-text-size: 25px;
    --italic-color: rgb(150, 150, 150);
    --input-background-color: rgb(200, 200, 200);
    --accent-color: rgb(180, 180, 232);
    --header-color: var(--accent-color);
    --card-color: rgba(0, 0, 0, 0.6);
    --tag-background-color: rgba(36, 36, 36, 0.7);
}

@font-face {
    font-family: 'Matisse Pro EB';
    src: url("../data/MBE.otf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-header-color);
    font-size: var(--standard-text-size);
    font-family: Matisse Pro EB;
    background-size: cover; 
    background-image:
        linear-gradient(to bottom, var(--background-color-gradient-top), var(--background-color-gradient-bottom)),
        linear-gradient(to right, rgb(0, 88, 26), orange);
    z-index: 1;
    position: relative; 
    min-height: 100vh;  
}

body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 35px 35px;
    background-image: radial-gradient(circle, var(--grid-dot-color-top), var(--grid-dot-color-bottom));
    z-index: -1;
}


main {
    background-color: rgba(0, 0, 0, 1);
    margin: auto;
}

a {
    text-align: left;
    color: var(--link-color);
    text-decoration: none;
}

a:visited {
    color: var(--visited-color)
}

a:hover {
    color: var(--hover-color);
}

i {
    color: var(--icon-color);
    font-size: 32px;
}

/* Can have multiple classes
    1. page
*/
main {
    background-color: rgb(150, 150, 150, 0);
    margin: 40px;
}

main.page {
    margin: auto;
    max-width: 50vw;
}

table {
    margin: 0px;
}

img {
    width: 150px;
    height: auto;
}

p {
    margin-left: auto;
    margin-right: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: var(--standard-text-size);
    max-width: 50vw;
}

li {
    list-style: none;
}

a:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: var(--accent-color);
    /* background-color: var(--input-background-color); */
}

h1, h3 {
    color: var(--header-color);
    text-align: center;
}


.blur{
    overflow:hidden;
    filter: blur(8px);
  }

.menu>img {
    /* width: 100%; */
    height: 30%;
    width: auto;
}

.right {
    grid-area: right;
}

.main {
    max-width: 75vw;
}

.fcol {
    flex: 1;
}

.flexGrid {
    display: flex;
}

.mainWindow {
    width: auto;
    max-height: 100vh;
    margin: 40px 5% 40px 5%;
    padding: 10px;

    background: rgba(5, 12, 60) linear-gradient(to bottom, rgb(40, 40, 40), rgb(30, 30, 30));
    color: rgb(71, 71, 71);
    border: solid 10px rgb(61, 61, 61);

    border-radius: 15px;
    text-align: center;
    font-family: serif;
}

.intro {
    /* color: rgb(180, 180, 180); */
    border-top: 3px solid var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
    background-color: rgba(0, 0, 0, 0.6);
}

h1 {
    background-image: url(../img/header.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
}

.nav {
    /* background-color: var(--accent-color), opacity(.5); */
    padding: 0px;
    text-align: center;
    margin-bottom: 10px;
}

.group {
    margin: auto;
    max-width: 60vw;
}

.groupHeader {
    display: inline-block;
    margin: 20px; 
    text-align: left;
}

.groupHeader > h2,
.groupHeader > p {
    display: inline;
    margin: 0;
    text-align: left;

}

.groupHeader > p {
    position: absolute;
    font-family: "Matisse Pro EB";
    font-size: 17px;
    margin-left: 15px;
    margin-top: 20px;
    /* font-style: italic;  */
    color: var(--italic-color);
}

.groupHeader > h2 {
    width: fit-content;
    font-size: 35px; 
    margin-right: 10px;
    color: var(--accent-color);
}

.card-title {
    margin-top: 0px;
    font-size: 25px;
    font-weight: lighter;
}

.card-img {
    /* width: 100px;
    height: auto; */
    width: auto;
    height: 90px;
}

.card-description {
    font-size: 18px;
}

.card {
    width: 100%;
    max-width: 300px; 
    padding: 15px; 
    background-color: var(--card-color);
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

.card h3 {
    margin-bottom: 20px;
}

.card:hover {
    cursor: pointer;
    background-color: rgb(19, 19, 19);
}

.cardView {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.abstract {

}

.abstract label {
    display: inline;
}

.tags {
    
}

.tags li {
    display: inline;
    font-size: 20px;
    font-style: italic;
    /* border: 1px solid var(--accent-color); */
    border-radius: 20px;
    width: fit-content;
    padding: 3px;
    /* background-color: var(--tag-background-color); */
    color: var(--italic-color);
}

.tags li:hover {
    text-decoration: underline;
    cursor: pointer;
}

hr {
    margin-top: 40px;
    color: transparent;
    border: 2px dotted rgb(22, 25, 35);
}